# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# Models and Logs
experiments/
models/
logs/
checkpoints/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
